.env
.env.*
*.key
*_API_key.txt
socrates_system/google_API_key.txt
/Users/mohammed/Desktop/Socrates/Socrates/graphrag/
/Users/mohammed/Desktop/Socrates/Socrates/ragtest/
/Users/mohammed/Desktop/Socrates/Socrates/VLMEvalKit
/Users/mohammed/Desktop/Socrates/Socrates/LLaVA
/Users/mohammed/Desktop/Socrates/Socrates/socrates_system/mllm_evaluation/datasets/test_data/images
